@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins:wght@200&display=swap');

.content2 {
  background-color: black;
  width: 100vw;
  color: white;
  font-family: 'Poppins';
  padding: 0 5vw;
}

.content2 h1 {
  color: white;
  font-family: 'Mukta';
  font-size: 2.5rem;
}

.admin-group {
  display: flex;
}

.admin-card {
  background-color: #272727;
  width: 40vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 5vw;
  text-align: center;
  margin: 4vh 5vw;
}

.admin-card h2 {
  font-size: 2rem;
  font-family: 'Montserrat';
}

.admin-card p {
  font-size: 2rem;
}

.changepass-admin label {
  font-size: 1.5rem;
}

.changepass-admin input {
  width: 25vw;
  border-bottom: 1px solid #8b84a4 !important;
  color: #f1f1e6;
}

.changepass-admin input:focus {
  transition: 0.5s;
  outline: none;
  border-bottom: 1px solid #f1f1e6 !important;
}

.item {
  margin-bottom: 1.5vh;
}

.changepass-admin form {
  margin: 0;
}

.change-password-button-admin {
  background-color: #002140;
  color: #f1f1e6;
  font-family: 'Poppins';
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #002140;
  width: 10vw;
  align-self: flex-start;
}

.change-password-button-admin:hover {
  transition: 0.5s;
  background-color: #000c17 !important;
  color: #f1f1e6 !important;
}

.changepass table {
  width: 50vw;
}

.changepass table td {
  height: 10vh;
  padding: 0 3vw;
}

.menuant {
  background-color: black !important;
}

.ant-menu-item-selected {
  background-color: #272727 !important;
}

.ant-menu-item:hover {
  background-color: #272727 !important;
}

.ant-layout-sider-trigger {
  background-color: rgb(21, 21, 21) !important;
}

.ant-layout-sider-trigger:hover {
  background-color: #272727 !important;
}

.input-sug {
  background-color: #252525;
  border: 1px solid #8b84a4;
  padding: 0.35rem;
}