@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap');


.signup {
  font-family: 'Poppins';
  background-color: #272727;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.su-form {
  display: table;
  height: 37vh;
  padding: 3vh 8vw;
}

.su-button {
  margin: 5vh 0 3vh 0;
  background-color: #272727;
  color: #f1f1f1;
  border: #272727;
  padding: 0.5rem 1rem;
  font-family: 'Poppins';
}

.su-button:hover {
  cursor: pointer;
}

.suu-input {
  display: table-cell;
  padding: 0.1rem 1rem;
  color: #f1f1f1;
  width: 55vw;
  height: 4.5vh;
  background-color: #0f0f0f;
  margin: 1vh 0;
  border: 1px solid #f1f1f1;
  font-family: 'Poppins';
  font-size: 0.85rem;
}

.main-signup {
  background-color: #0f0f0f;
  text-align: center;
  height: 60vh;
  width: 80vw;
  border-radius: 1rem;
}

.main-signup h2 {
  font-size: 1.7rem;
  margin: 3vh 0;
}

.input-group {
  display: table-row;
}

.su-form {
  display: block;
}

.su-label {
  width: 10rem;
  margin: 1rem;
  border: 10rem;
}

.link {
  color: #f1f1f1;
  font-size: 0.8rem;
}

.main-signup select {
  width: 64vw;
  height: 5vh;
}

@media (min-width: 900px) {
  .main-signup h2 {
    font-size: 3rem;
    margin: 5vh 0;
    font-family: 'Montserrat';
  }

  .main-signup {
    width: 45vw;
    height: 70vh;
  }

  .su-form {
    padding: 2vh 5vw;
    width: 35vw;
    height: 38vh;
  }

  .suu-input {
    width: 32vw;
  }

  .main-signup select {
    width: 34vw;
    height: 5vh;
  }

  .su-button {
    width: 10vw;
    height: 5vh;
  }

  .su-button:hover {
    transition: 0.5s;
    background-color: #332c2c;
  }

  .link {
    color: #f1f1f1;
    font-size: 0.9rem;
  }
}