@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins:wght@200&display=swap');

.content1 {
    background-color: black;
    width: 100vw;
    color: white;
    font-family: 'Poppins';
    padding: 0 5vw;
}

.content1 h1 {
    color: white;
    font-family: 'Mukta';
    font-size: 2.5rem;
}

.user-group {
    display: flex;
}

.user-card {
    background-color: #272727;
    width: 25vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0 5vw;
    text-align: center;
    margin: 3vh 5vw;
}

.user-card h2 {
    font-size: 2rem;
    font-family: 'Montserrat';
}

.user-card p {
    font-size: 2rem;
}

.no-notif {
    height: 100vh;
    display: flex;
    width: 75vw;
    align-items: center;
    justify-content: center;
}

.no-notif p {
    font-size: 2.5rem;
}

.changepass-user label {
    font-size: 1.2rem;
}

.changepass-user input {
    width: 25vw;
    border-bottom: 1px solid #8b84a4 !important;
    color: #f1f1e6;
}

.changepass-user input:focus {
    transition: 0.5s;
    outline: none;
    border-bottom: 1px solid #f1f1e6 !important;
}

.item {
    margin-bottom: 1.5vh;
}

.changepass-user form {
    margin: 0;
}

.change-password-button-user {
    background-color: #002140;
    color: #f1f1e6;
    font-family: 'Poppins';
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #002140;
    width: 10vw;
    align-self: flex-start;
}

.change-password-button-user:hover {
    transition: 0.5s;
    background-color: #000c17 !important;
    color: #f1f1e6 !important;
}

.changepass-user table {
    width: 50vw;
}

.changepass-user table td {
    height: 10vh;
    padding: 0 3vw;
}

.create-event input {
    border-bottom: 1px solid #8b84a4;
    width: 30vw;
    font-family: 'Poppins';
    color: #f1f1e6;
    font-size: 1rem;
}

.create-event input:focus {
    transition: 0.5s;
    border-bottom: 1px solid #f1f1e6;
    outline: none;
}

.create-event table {
    font-size: 1.2rem;
}

.create-event td {
    width: 20vw;
}

#date {
    background-color: #00415a;
    border: 1px solid #8b84a4;
    margin: 2vh 0;
}
.welcome-container {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40vw;
  }
  
  .circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-group {
    margin-top: 20px;
  }
  
  .user-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  