.main{
    overflow-y: hidden; 
}

input[type="text"],
input[type="password"]{
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  border: none;
  font-size: 17px;
 border-bottom: 1px solid #000000;
 padding: 2px 5px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #19446e;
  border: 1px solid #19446e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.formlogin {
  width: 35%;
  height: 60vh;
  background-color:#F3F4F6 ;
  padding: 2rem; 
  flex-direction: column;   
  margin-top: 100px;
  box-shadow: 2px 1px 1px 1px;

}


 .input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px;
}

.imghome{
  background-color:#ebf0f7;
  background-size: contain;
  margin-left: 75px;
  margin-top: 100px;
  box-shadow: 2px 2px 2px;
}
img{
height: 70vh;
}
.main{
  display: flex;
  margin-left: 100px;
  border-radius: 2px;
}

h1{ 
  color: #1F2D5A;
}

.img myImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@media only screen and (orientation: portrait) {
  /* styles for portrait orientation */
  }
  
  @media only screen and (orientation: landscape) {
  /* styles for landscape orientation */
  }
