.dashboard{
    width:100vw;
    height: 100vh;
    display:flex;
    transform: translateY(-26vh);
}
.nav ul{
    list-style-type: none;
    border-radius: 46px;
    background: #ffff;
    box-shadow:  16px 16px 55px #606060,
             -16px -16px 55px #ffffff;
    height: 70vh;  
    width:10vw;
    padding:10vh;
    margin:5vh 1.5vh 7vh 3vh;
    text-align: center;
    background-color: #e6e6e8;
}
.nav ul li{
    margin-bottom: 17vh;
}
.dashboard-card{
    width:85vw;
    height: 76vh;
    margin: 5vh 3vh 7vh 1.5vh;
    padding: 7vh;
    border-radius: 46px;
    background: #ffff;
    box-shadow:  16px 16px 55px #585757,
             -16px -16px 55px #ffffff;
             background-color: #e6e6e8;
}
.dashboard-card h1{
    font-size: 3rem;
    background-color: #b5b5b5;
}

.welcome{
    font-size: 40px;
    margin-left: 50px;
    padding: 0%;
    transform: translateY(-19vh);
}


.navlist{
    width:10vw;
    height: 3.5vh;
    font-size: 23px;
    text-decoration:#585757;
    align-items: center;
}

.navlist:hover{
    font-size: 28px ;
    text-decoration: underline;
}

.dashmain{
    padding: 0px;
    margin: 0px;
    transform: translateY(-5vh);
}

